staticfiles
mediafiles
.idea
pgdata
node_modules
__pycache__
.vscode
frontend/build
nginx/build
.next
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
